<?xml version="1.0"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <add key="corpid" value="你的企业微信CorpID"/>
      <add key="secret" value="你的企业微信Secret"/>
      <add key="gm" value="默认接收人(如:张三)"/>
      <add key="user" value="Zabbix用户名(如:Admin)"/>
      <add key="passw" value="Zabbix密码"/>
      <add key="url" value="Zabbix服务器地址(IP或域名)"/>
    </appSettings>
    <connectionStrings>
      <add name="itcastCater" connectionString="data source=test.db;version=3;"/>
    </connectionStrings>
</configuration>
